<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="User" value="sa"/>
    <add key="Password" value="123456789"/>
    <add key="Server" value=".\sqlexpress"/>
	
	<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->
		
		<add key="mssql_datasource" value=".\SQLEXPRESS" />
		<add key="mssql_database" value="ntharenedb" />
		<add key="mssql_userid" value="sa" />
		<add key="mssql_password" value="123456789" />
		<add key="mssql_port" value="1433" />
	
		<add key="mysql_datasource" value="127.0.0.1" />
		<add key="mysql_database" value="ntharenedb" />
		<add key="mysql_userid" value="sa" />
		<add key="mysql_password" value="123456789" />
		<add key="mysql_port" value="3306" />
	
		<add key="postgresql_datasource" value="127.0.0.1" />
		<add key="postgresql_database" value="postgres" />
		<add key="postgresql_userid" value="postgres" />
		<add key="postgresql_password" value="123456789" />
		<add key="postgresql_port" value="5432" />
	
		<add key="sqlite_datasource" value="\databases\" />
		<add key="sqlite_database_path" value="\databases\" />
		<add key="sqlite_database" value="ntharenedb" />
		<add key="sqlite_userid" value="sa" />
		<add key="sqlite_password" value="123456789" />
		<add key="sqlite_port" value="0" />
		<add key="sqlite_version" value="3" />
		<add key="sqlite_db_extension" value="sqlite" />
		<add key="sqlite_pooling" value="true" />
		<add key="sqlite_fail_if_missing" value="false" />
	
		<add key="saveinmssql" value="true" />
		<add key="saveinmysql" value="true" />
		<add key="saveinsqlite" value="true" /> 
		<add key="saveinpostgresql" value="true" /> 
	
		<add key="checkdbconnections" value="true" />
		<add key="checkdbconnectioninmssql" value="true" />
		<add key="checkdbconnectioninmysql" value="true" />
		<add key="checkdbconnectioninsqlite" value="true" /> 
		<add key="checkdbconnectioninpostgresql" value="true" /> 
	
		<add key="update_schema_temp_db" value="linet" /> 
	
	
  </appSettings>
</configuration>
